<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Reminder app</title>
</head>

<body>
    <h1>Reminder app</h1>
    Title: <input type="text" id="title" /> Priority: <input type="text" id="priority" /> Color: <input type="color" id="color" /> Description: <textarea id="description"></textarea>
    <input type="button" id="btnAdd" value="Add" />
    <input type="button" id="showAll" value="Show all" />
    <div id="result"></div>
    <script src="../../scripts/reminder app/exercise3.js">
    </script>
</body>

</html>